$prefix: "hy";
$line_count: 24;
$i: 24;

@include b("col") {
  @for $i from 0 through 24 {
    @if $i == 0 {
      &-#{$i} {
        display: none;
      }
    } @else {
      &-#{$i} {
        display: block;
        width: percentage(($i / $line_count));
      }
      &-offset--#{$i} {
        margin-left: ($i / 24) * 100 * 1%;
      }
    }
  }

  @include res(xs) {
    @for $i from 0 through 24 {
      &-xs-#{$i} {
        width: percentage(($i / $line_count));
      }
    }
  }

  @include res(sm) {
    @for $i from 0 through 24 {
      &-sm-#{$i} {
        width: percentage(($i / $line_count));
      }
    }
  }

  @include res(md) {
    @for $i from 0 through 24 {
      &-md-#{$i} {
        width: percentage(($i / $line_count));
      }
    }
  }

  @include res(lg) {
    @for $i from 0 through 24 {
      &-lg-#{$i} {
        width: percentage(($i / $line_count));
      }
    }
  }

  @include res(xl) {
    @for $i from 0 through 24 {
      &-xl-#{$i} {
        width: percentage(($i / $line_count));
      }
    }
  }
}
