@include b('upload') {
  &__list {
    padding: 0;
  }
  &__li {
    margin: 5px;
    list-style: none;
  }
  &__lin {
    padding: 5px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 12px;
    border-radius: 3px;
    color: #606266;
    transition: all 0.3s;
    .#{$namespace}-file__ri--hover {
      display: none;
    }
    &:hover {
      background-color: #f5f7fa;
      transform: scale(1.02);
      .#{$namespace}-file__name {
        color: #409eff;
      }
      // 隐藏ri
      .#{$namespace}-file__ri {
        display: none;
      }
      // 显示X
      .#{$namespace}-file__ri--hover {
        display: block;
      }
    }
  }
  &__progress {
    margin-top: 10px;
    width: 100%;
  }
  .#{$namespace}-file__icon {
    margin-right: 10px;
  }
  @each $key, $value in $file-status {
    .#{$namespace}-file--#{$key} {
      // TODO: saturate desaturate 内置饱和度函数
      // color: saturate($value, 90%);
    }
  }
}

// 拖拽区域样式
@include b('upload__drag') {
  display: inline-block;
  cursor: pointer;
  user-select: none;
  border: 1px dashed #d9d9d9;
  &:hover {
    border-color: #409eff;
  }
  @include when('dragover') {
    border-color: #409eff;
  }
}
